.accordian{
  width: 400px
  margin: 25 auto;
}

dl {
    border: 1px solid #3fc6d1;
    height: 43px;
    overflow: hidden;
    transition: height 0.7s ease-in-out;
// dt is the equivalent to the section tag used my Tim    

  &.hidden {
    height: 43px;
  }


dt {
      color: white;
      padding: 10px 20px;
      font-size: 20px;
      font-weight: normal;
      margin: 0;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
}

&:hover {

  background-color: #00daec;
  padding-left: 30px;
}

dd {
  padding: 10px 20px;
  font-size: 13px;
}